*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    background-size: cover;
    height:97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    margin:0 auto;
    text-align: center;
}
.contenido h1{
    color:white;
}
img{
    padding: 2vw;
    width: 20vw;
    height:20vw;
    border:2px solid white;
    border-radius: 10%;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);
}
#resultado{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:1em;
    color: white;
    border: 0px;
    border-radius: .5em;
    
    font-size:4em;
}

#resolver{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:1em;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: .5em;
    width: 55%;

    display: none;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1em;
}